lib_managed/
project/boot/
target/
project/plugins/src_managed/
project/plugins/project/
\#*\#
*~
.coveralls.token
# IDEA Ignores
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
atlassian-ide-plugin.xml
# OS X
.DS_Store
